/* 简易版新增连接样式 */
.newLink{
	width: 600px;
}
.newLink .left_box {
    display: inline-block;
    padding-left: 10%;
}
.newLink .btn {
    margin-top: 0px;
}
.popup .form span {
    margin-right: 20px;
}
.newLink .left_box span {
    margin-left: 0px;
}
.popup .form i {
    font-size: 14px;
    margin-left: 0;
}
.form b.error, .popup b.error {
    color: #00fdff;
    font-size: 12px;
    margin-left: 6px;
}