<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true">

    <context-param>
        <param-name>version</param-name>
        <param-value>2401020054</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>chat.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.allowOrigin</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.supportedMethods</param-name>
            <param-value>GET,POST,HEAD,PUT,DELETE</param-value>
        </init-param>
        <init-param>
            <param-name>cors.supportedHeaders</param-name>
            <param-value>Accept,Origin,X-Requested-With,Content-Type,Last-Modified</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposedHeaders</param-name>
            <param-value>Set-Cookie</param-value>
        </init-param>
        <init-param>
            <param-name>cors.supportsCredentials</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>ai.servlet.SearchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>ai.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image/imageToText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image/image2text</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image/generateVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image/image2video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image/generateImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image/enhanceImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image/image2enhance</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pageInfo</servlet-name>
        <servlet-class>ai.servlet.PageInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pageInfo</servlet-name>
        <url-pattern>/info/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>ai.servlet.UploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/uploadFile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/training/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>audio</servlet-name>
        <servlet-class>ai.servlet.AudioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>audio</servlet-name>
        <url-pattern>/audio/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>video</servlet-name>
        <servlet-class>ai.servlet.VideoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>video</servlet-name>
        <url-pattern>/video/motInference</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>video</servlet-name>
        <url-pattern>/video/video2tracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>video</servlet-name>
        <url-pattern>/video/mmeditingInference</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>video</servlet-name>
        <url-pattern>/video/video2enhance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>ai.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>llm</servlet-name>
        <servlet-class>ai.servlet.api.LlmApiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>llm</servlet-name>
        <url-pattern>/v1/chat/completions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llm</servlet-name>
        <url-pattern>/chat/completions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llm</servlet-name>
        <url-pattern>/v1/embeddings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llm</servlet-name>
        <url-pattern>/chat/go</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>asr</servlet-name>
        <servlet-class>ai.servlet.api.AudioApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>asr</servlet-name>
        <url-pattern>/v1/asr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asr</servlet-name>
        <url-pattern>/audio/speech2text</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>tts</servlet-name>
        <servlet-class>ai.servlet.api.AudioApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tts</servlet-name>
        <url-pattern>/v1/tts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tts</servlet-name>
        <url-pattern>/audio/text2speech</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>image_api</servlet-name>
        <servlet-class>ai.servlet.api.ImageApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>image_api</servlet-name>
        <url-pattern>/v1/images/generations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image_api</servlet-name>
        <url-pattern>/v1/image/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image_api</servlet-name>
        <url-pattern>/image/text2image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image_api</servlet-name>
        <url-pattern>/image/image2ocr</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vector</servlet-name>
        <servlet-class>ai.servlet.api.VectorApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vector</servlet-name>
        <url-pattern>/v1/vector/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RpaServlet</servlet-name>
        <servlet-class>ai.servlet.RpaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RpaServlet</servlet-name>
        <url-pattern>/v1/rpa/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>preference</servlet-name>
        <servlet-class>ai.servlet.PreferenceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>preference</servlet-name>
        <url-pattern>/preference/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WorkerApiServlet</servlet-name>
        <servlet-class>ai.servlet.api.WorkerApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkerApiServlet</servlet-name>
        <url-pattern>/search/uploadVoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkerApiServlet</servlet-name>
        <url-pattern>/v1/worker/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ocr</servlet-name>
        <servlet-class>ai.servlet.api.OCRApiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ocr</servlet-name>
        <url-pattern>/ocr/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>instruction</servlet-name>
        <servlet-class>ai.servlet.api.InstructionApiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>instruction</servlet-name>
        <url-pattern>/instruction/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>ai.servlet.api.PdfPreviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sql</servlet-name>
        <servlet-class>ai.servlet.api.SqlApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sql</servlet-name>
        <url-pattern>/sql/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SkillMapApiServlet</servlet-name>
        <servlet-class>ai.servlet.api.SkillMapApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkillMapApiServlet</servlet-name>
        <url-pattern>/skill/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocumentApiServlet</servlet-name>
        <servlet-class>ai.servlet.api.DocumentApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentApiServlet</servlet-name>
        <url-pattern>/doc/*</url-pattern>
    </servlet-mapping>
</web-app>