@charset "UTF-8";
/*设置默认编码集*/

/*css 初始化 start */

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}



/*各浏览器显示不同，去掉边框等默认样式*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}
b{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    /*font-family: "SimSun", "宋体";*/
    color: white;
}

/*// select, input, textarea {*/
/*//     font-size: 12px;*/
/*//     margin: 0;*/
/*// }*/

/*防止拖动 影响布局*/
textarea {
    resize: none;
    color: white;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
    -moz-user-select: none;       
     -webkit-user-select: none;       
      -ms-user-select: none;        
      -khtml-user-select: none;        
      user-select: none; 
}

table {
    border-collapse: collapse;
}

body {
    /*// font: 12px/150% Arial, Verdana, "\5b8b\4f53"; 宋体 unicode*/
    /*// color: #666;*/
    /*// background: #fff;*/
    font-family:font: 12px/150% Arial, Verdana, "SimHei";
   }

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

/*css 初始化 end */


/*日期插件样式修改*/
.jedatebox {
    width: 270px;
    height: auto;
    font-family: 'PingFangSC-Light','PingFang SC','Segoe UI','Lucida Grande','NotoSansHans-Light','Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    font-size: 12px;
    cursor: default;
    margin: 0;
    margin-left: -12px;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
}

.jedateblue .jedateproppos {
    position: absolute;
    left: 0;
    top: 0px;
    display: none;
}
.jedateblue .jedaul li.other, .jedateblue .jedaul li.other .nolunar, .jedateblue .jedaul li.other .lunar {
    color: #4DDBFF;
}
.jedateblue .jedatebot .botflex {
    display: inline-block;
}
.jedateblue .jedatebot .jedatehms {
    height: 28px;
    line-height: 28px;
    border: 1px #ddd solid;
    background-color: #fff;
    margin: 0px 3px 3px 0;
    padding-left: 1px;
    display: inline-block;
    overflow: hidden;
}
.jedateblue .jedatebot .botflex li {
    width: 24px;
    padding-left: 8px;
    height: 26px;
    line-height: 26px;
    float: left;
    text-align: center;
}
.jedateblue .jedatebot .botflex li input{
	color:#655a5a;
}
.jedateblue .jedatebot .botflex i {
    width: 12px;
    float: left;
    height: 28px;
    line-height: 24px;
    font-style: normal;
    display: block;
    text-align: center;
    background: #f2f2f2;
}

.jedateblue .jedatebot .jedatebtn span {
    width: 31%;
    float: right;
    margin: 0 1.1%;
    background-color: #2f85de;
    color: #fff;
    display: block;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
}

.jedateblue .jedatepropcon {
    padding: 40px 5px 5px 5px;
    background-color: #2072ca;
    overflow: hidden;
    position: relative;
}
.jedateblue .jedatehmstitle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    background: #165ba3;
    color: #EEEEEE;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
}
.jedateblue .jedatehmsclose {
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -15px;
    z-index: 150;
    font-size: 24px;
}
.jedateblue .jedateproptext {
    width: 72px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 6px 0 0 10px;
}
.jedateblue .jedatehmscon {
    width: 72px;
    height: 204px;
    float: left;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin: 0px 0px 0px 10px;
}
.jedateblue .jedatehmscon p {
    width: 100%;
    float: left;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}
.jedateblue .jedatehmscon p.action, .jedateblue .jedatehmscon p.action:hover {
    background: #2f85de;
    color: #fff;
}
/* 仿真下拉框 样式*/
.taskSystem{
    position: relative;
    vertical-align:middle;
    cursor:pointer;
    height: 28px;
    line-height: 28px;
    background: #15476A;
    border: 1px solid #51B4EF;
    padding-left: 15px;
}
.taskSystem .head{
     height:100%; 
}
.taskSystem .selText{
    height:100%;
    padding-right: 17px;
    overflow:hidden;
   /*  color: #8BDDF2; */
    font-size: 14px;
    /*background-color: #F3F3F3;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}

.taskSystem .disNone{
    display:none;
}
.arrowSelf .disNone{
    display: block;
}
.arrowSelf .selText{
    display: none;
}
.taskSystem .head>input{
    background: none;
    height: 28px;
}
.taskSystem em{
    position:absolute;
    top: 3px;
    right: 4px;
    width: 16px;
    height: 22px;
    line-height:22px;
    text-align: center;
    cursor: pointer;
}
.taskSystem em img{
    position:absolute;
    top:8px;
    right:0;
}
.taskSystem .cont{
    width:100%;
    position: absolute;
    top: 28px;
   	left: -1px;
    background: #15476A;
    border: 1px solid #51B4EF;
    z-index: 3;
    overflow: auto;
    max-height: 150px;
    display: none;
}
.taskSystem .cont ul {
    width: 100%;
    line-height:20px;
}
.taskSystem .cont ul li{
    /*padding-left: 4px;*/
    padding-left: 15px;
    font-size: 14px;
    line-height: 22px;
    cursor:default;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    color: #fff;
}
.taskSystem .cont ul li:hover{
    background-color: #1d6597;

}
.taskSystem .cont .li:hover{
	background-color: #1d6597;
}