#queryBox {
	border: 3px solid #51B4EF;
	border-top: none;
	border-bottom: none;
	border-radius: 24px;
	box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em
		rgba(0, 0, 0, 0.3);
}

/**
@media screen and (max-width: 765px) {
	#navigation_bar {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none;
	}
}
**/

#topTitle {
	margin: 3em 0 0 0;
}



#item-content {
	height: 96vh;
}


.item-column {
	/* height: 200px;
	width: 300px; */
	overflow:hidden;
}

/* 设置不换行 */
.item-column>p {
	white-space: nowrap;
}

.flex-bottom{
	display: flex;
	align-items: flex-end;
}

.flex-top{
	display: flex;
	align-items: flex-start;
}

/* 滚动速度，值越大越慢 */
.scrollDiv {
	position: relative;
	animation: scroll 15s infinite linear; 
}

/* 滚动范围 */
@keyframes scroll {
	0% { left: 5%; }
	100% { left: -100%; }
}

#queryContent::-webkit-scrollbar {
	display: none; /* Chrome Safari */
  }
  
#demo {
	scrollbar-width: none; /* firefox */
	-ms-overflow-style: none; /* IE 10+ */
	overflow-x: hidden;
	overflow-y: auto;
}


pre {
	padding: 5px;
	margin: 5px;
	text-wrap: wrap;
}

pre .string {
	color: green;
}

pre .number {
	color: darkorange;
}

pre .boolean {
	color: blue;
}

pre .null {
	color: magenta;
}

pre .key {
	color: red;
}
  