#voiceSvg {
    all: initial; 
    
    cursor: pointer;
}

#forwardSvg{
    all: initial; 
    
    cursor: pointer;
}
#addSvg{
    all: initial; 
    
    cursor: pointer;
}
#myAudio1{
    all: initial; 
}
/* .emotionSelect{
    all: initial; 
} */

#emotionSelectId {
    border-radius: 10px; /* 设置圆角半径为10px，可以根据需要调整值 */
    /* height:30px; */
}

.myAudio1::-webkit-media-controls-timeline {
    display: none;
}

.myAudio1::-webkit-media-controls-current-time-display,
    .myAudio1::-webkit-media-controls-time-remaining-display {
        display: none;
    }