#queryBox {
	border: 3px solid #51B4EF;
	border-top: none;
	border-bottom: none;
	border-radius: 24px;
	box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em
		rgba(0, 0, 0, 0.3);
}

/**
@media screen and (max-width: 765px) {
	#navigation_bar {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none;
	}
}
**/

#topTitle {
	margin: 3em 0 0 0;
}



#item-content {
	height: 96vh;
}


.item-column {
	/* height: 200px;
	width: 300px; */
	overflow:hidden;
}

/* 设置不换行 */
.item-column>p {
	white-space: nowrap;
}

.flex-bottom{
	display: flex;
	align-items: flex-end;
}

.flex-top{
	display: flex;
	align-items: flex-start;
}

/* 滚动速度，值越大越慢 */
.scrollDiv {
	position: relative;
	animation: scroll 15s infinite linear; 
}

/* 滚动范围 */
@keyframes scroll {
	0% { left: 5%; }
	100% { left: -100%; }
}

#queryContent::-webkit-scrollbar {
	display: none; /* Chrome Safari */
  }
  
#demo {
	scrollbar-width: none; /* firefox */
	-ms-overflow-style: none; /* IE 10+ */
	overflow-x: hidden;
	overflow-y: auto;
}


pre {
	padding: 5px;
	margin: 5px;
	text-wrap: wrap;
}

pre .string {
	color: green;
}

pre .number {
	color: darkorange;
}

pre .boolean {
	color: blue;
}

pre .null {
	color: magenta;
}

pre .key {
	color: red;
}

.tooltip{
	/* visibility: visible; */
}

.tooltip:before {
    content: attr(data-tooltip);
	position: absolute;
    left: 50%;
	top: 0em;
    display: block;
    /* font-size: 10px; */
	color: #f7e9e9;
	background-color: rgb(0, 0, 0);
    margin-top: 0.5em;
    width: 120px;
    border-radius: 6px;
    z-index: 99;
    text-align: center;
    transition: opacity 0.25s, transform 0.25s;
    /* border: 1px solid #409eff; */
}


.tooltip:before {
    opacity: 0;
}

.tooltip:hover:before {
    opacity: 1;
  }

.agent-pannel{
	background-color: white;
    bottom: 0.5em;
	border: 1px solid #51B4EF;
	border-top: none;
	border-bottom: none;
	border-radius: 5px;
	box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em
		rgba(0, 0, 0, 0.3);
}

.agent-pannel ul {
	color: #292727;
}

.agent-pannel ul li {
	cursor: pointer;
	font-size: 1em;
	
}

.agent-pannel ul li:hover {
	background-color: #c7e6f8;
	color: rgb(14, 13, 13);
}


.agent-head {
	background-color: #023f63;
	color: rgb(248, 248, 248);
	border-bottom: 1px solid #4d4d4d;
}

@media (max-width:900px) {
	.agent-pannel{
		bottom: 0.5em;
	}
}

.not-available{
	color: #888181;
}

.appType {
	display: inline-block;
	margin: 0.5em 0.5em 0 0;
}

.appType img {
	width: 3.5em;
}

.appTypeName {
	text-align: center;
	font-size: 0.8em;
}


#model-prefences {
	font-size: 1em;
}

.model-selects{
	width: 80%;
	padding-left: 50px;
	padding-top: 5px;
}

.model-selects select {
	/* height: 2em; */
}

.model-btns {
	padding-top: 15px;
	line-height: 1em;
}

.model-btns button{
	background-color: #348cbe;
	width: 5em;
	height: 1.5em;
	border-radius: 5px;
	color: white;
} 