/* ==============model train start===================== */

.user-model {
    display: none;           /* 默认隐藏 */
    width: 100%;             /* 宽度占满父容器 */
    height: 90%;            /* 高度占满父容器 */
    box-sizing: border-box;  /* 包括内边距和边框 */
    background-color: white;  /* 背景颜色 */
    padding: 20px;           /* 内边距 */
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: relative; /* 设置为相对定位 */
    font-size: 12px;
}

.model-modules-nav{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--rechage-color2);
    color: rgb(179, 179, 179);
    height: 3rem;
}

.model-modules-nav button {
    margin-right: 1rem;
}

.model-module {
    display: flex; /* 启用 Flexbox */
}

.train-form {
    
    height: 820px;
}

.train-view {
    flex: 1; /* 左侧占据剩余空间 */
    height: 80%;
}

.train-view-title {
    background-color: var(--rechage-color);
    color: rgb(250, 250, 250);
    font-size: 14px;
    height: 32px;
    padding: 5px;
}


.train-view-content {
    height: 480px;
    overflow-y: scroll;
    border: 1px solid #ccc;     /* 可选：添加边框以便观察 */
    padding: 10px;              /* 可选：内边距 */
    border-radius: 5px;
    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
}


.train-form div {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid gray;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
}

.train-form input[type="text"], .train-form select{
    height: 32px;
    width: 6rem;
    font-size: 12px;
    padding: 3px 5px 3px 5px; 
    border-radius: 5px;
}

.train-form button{
    height: 28px;
    width: 6rem;
    background-color: var(--rechage-color2);
    color: rgb(250, 250, 250);
    border-radius: 5px;
}

.train-btn-box button{
    /* float: right;  */
    margin-left: 3rem;
}
/* ==============model train end===================== */


/* ==============develop model start===================== */

.user-develop {
    position: relative;
}

.develop-model-container {
    padding: 20px;
    width: 100%;
}

.develop-btn {
    padding: 10px 20px;
    background-color: var(--rechage-color2);
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}

.develop-btn:hover {
    background-color: var(--rechage-color);
}

.model-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 500px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 14px;
    overflow-y: scroll;
}

.model-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    height: 140px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.model-card .model-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.model-card .model-status {
    margin-bottom: 10px;
}

.model-status-container {
    display: flex;
}

.model-card .model-actions button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.develop {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.develop-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.develop-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.develop-content .close:hover,
.develop-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.develop-content form label {
    display: block;
    margin-bottom: 5px;
}

.develop-content form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
    /* margin-bottom: auto; */
}


.published {
    background: #f56c6c;
    color: white;
}

.unpublished {
    background: #67c23a;
    color: white;
}

.publishing {
    background: #4e4e4e;
    color: white;
}

/* ==============develop model end===================== */



/* ==============modal manager start===================== */

#addModelBtn {
    margin-top: 16px;
    width: 80px;
    height: 32px;
    border-radius: 5px;
    background: var(--rechage-color2);
    color: white;
}

.modal-container {
    width: 100%;
    margin: 0 auto;
}

.modal-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.modal-container th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.modal-container th {
    background-color: #f2f2f2;
}

.modal-manager {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-manager-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.modal-manager .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-manager .close:hover,
.modal-manager .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-container table button {
    color: var(--rechage-color2);
}

.modal-manager form label {
    margin-top: 16px;
}

.modal-manager form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.modal-manager form input[type="checkbox"] {
    padding: 8px;
    margin-left: 16px;
}






.modal-manager form select {
    width: 120px;
    padding: 8px;
    margin-top: 12px;
    margin-left: 16px;
}

.modal-manager form button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    background-color: var(--rechage-color2);
    color: white;
    border: none;
    cursor: pointer;
}

.modal-manager form button:hover {
    background-color: var(--rechage-color);
}

.hide-eyes, 
.show-eyes{
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    float: right;
}


.hide-eyes {
    background-image: url('../images/hide.png');
}

.show-eyes {
    background-image: url('../images/show.png');
}
/* ==============modal manager end===================== */