@media (max-width: 900px) {
    :root {
        --left-nav-width: 0px;
    }

    #centerTitleBox h1 {
        display: none;
    }

    .mobile_logo_container {
        height: 100%;
        background: no-repeat center/auto 80% url("../images/linkMind_logo.png");
        margin-left: auto;
        margin-right: auto;
    }

    .center-title-box {
        padding: 5em 0 1em 0;
    }

    #hello-page {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #hello-page::-webkit-scrollbar {
        display: none;
    }

    .ball-corner-container::before {
        width: 210px;
        height: 210px;
    }

    .hot-tag {
        margin-left: 3px;
        margin-right: 3px;
    }

    .ball-corner ul li {
        width: 80%;
        padding-top: 0;
        height: 1.8em;
        border-radius: 36px;
        color: black;
        margin: 1.5em 0 0 0;
        font-size: 10px;
    }

    .ball-right-top ul li span {
        height: unset;
    }

    .ball-left-top ul li span {
        height: unset;
    }

    .ball-right-top ul li:nth-child(1) {
        margin-right: 0px;
    }

    .ball-right-top ul li:nth-child(2) {
        margin-right: -10px;
    }

    .ball-right-top ul li:nth-child(3) {
        margin-right: -15px;
    }

    .ball-right-top ul li:nth-child(4) {
        margin-right: -10px;
    }

    .ball-right-top ul li:nth-child(5) {
        margin-right: 0px;
    }

    .ball-left-top ul li:nth-child(1) {
        margin-left: 0px;
    }

    .ball-left-top ul li:nth-child(2) {
        margin-left: -10px;
    }

    .ball-left-top ul li:nth-child(3) {
        margin-left: -15px;
    }

    .ball-left-top ul li:nth-child(4) {
        margin-left: -10px;
    }

    .ball-left-top ul li:nth-child(5) {
        margin-left: 0px;
    }

    .ball-left-top ul li span .icon {
        margin: 0 0.2em 0 0.2em;
        width: unset;
    }

    .ball-right-top ul li span .icon {
        margin: 0 0.2em 0 0.2em;
        width: unset;
    }

    .ball-describe-item {
        padding: 0 0 0 0;
    }

    .ball-describe-item .scroll-text {
        width: unset;
        height: unset;
        font-size: 0.9em;
        max-width: 7em;
        text-overflow: ellipsis;
    }

    .ball-describe-item span, .ball-describe-item .scroll-text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .ball-describe-item span svg {
        height: 12px;
        flex-shrink: 0;
    }

    :root {
        --no-content-height: 200px;
    }

    #queryContent {
        height: 90px;
    }

    .ball-container {
        height: 280px;
    }
}